In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
archs = os.listdir('../output/probabilities/')

In [3]:
for arch in archs:
    print(os.listdir('../output/probabilities/'+arch), '\n')

['TTA_MobileNet_LB_94573.csv', 'Preds_MobileNet_LB_94573.csv']

['Preds_DenseNet121_LB_94720.csv', 'TTA_DenseNet121_LB_94720.csv']

['TTA_SeResNext50_299_LB_95043.csv', 'Preds_SeResNext50_299_LB_95043.csv']

['TTA_ResNet50_LB_94925.csv', 'Preds_ResNet50_LB_94925.csv']

In [4]:
preds_res50 = pd.read_csv('../output/probabilities/ResNet50/Preds_ResNet50_LB_94925.csv')
preds_seresnext50 = pd.read_csv('../output/probabilities/SeResNext/Preds_SeResNext50_299_LB_95043.csv')
preds_mobilenet = pd.read_csv('../output/probabilities/MobileNet_v2/Preds_MobileNet_LB_94573.csv')
preds_densenet = pd.read_csv('../output/probabilities/DenseNet121/Preds_DenseNet121_LB_94720.csv')

In [5]:
preds_res50.head()

   buildings        forest       glacier  mountain       sea    street
0   0.018442  7.630687e-08  5.524068e-07  0.000003  0.000001  0.981554
1   0.000017  1.932071e-06  9.990940e-01  0.000878  0.000003  0.000006
2   0.000746  1.677976e-05  9.950773e-01  0.003128  0.000997  0.000034
3   0.000121  5.039058e-04  1.375873e-01  0.861430  0.000087  0.000272
4   0.000009  2.179095e-04  9.977787e-01  0.000420  0.001106  0.000468

In [6]:
preds_seresnext50.head()

   buildings    forest   glacier  mountain       sea    street
0   0.003422  0.008405  0.003887  0.980783  0.002181  0.001323
1   0.000959  0.000559  0.979270  0.011636  0.000420  0.007157
2   0.962402  0.000312  0.000392  0.001999  0.000576  0.034319
3   0.000772  0.000129  0.982528  0.002733  0.000443  0.013395
4   0.000857  0.004283  0.126754  0.009705  0.857327  0.001073

In [7]:
preds_mobilenet.head()

   buildings    forest   glacier  mountain       sea    street
0   0.000536  0.001429  0.004490  0.987566  0.005827  0.000152
1   0.000609  0.003703  0.941568  0.009546  0.001082  0.043491
2   0.987848  0.000162  0.000541  0.002414  0.001249  0.007786
3   0.000409  0.002467  0.981478  0.005392  0.000709  0.009544
4   0.002948  0.011830  0.039624  0.028593  0.915174  0.001830

In [8]:
preds_densenet.head()

   buildings    forest   glacier  mountain       sea    street
0   0.002315  0.003473  0.008364  0.975108  0.009988  0.000752
1   0.000522  0.006154  0.966429  0.003020  0.000516  0.023360
2   0.985268  0.000165  0.001792  0.001050  0.004362  0.007362
3   0.003050  0.004459  0.944015  0.014514  0.015220  0.018742
4   0.001598  0.001442  0.057795  0.010005  0.925758  0.003402

In [9]:
cols = list(preds_densenet.columns)

In [10]:
labels_densenet = pd.read_csv('../output/DenseNet121_128to256_945531.csv')

In [11]:
labels_densenet.head()

   Filename     Labels
0  2316.jpg   mountain
1  1854.jpg    glacier
2  2510.jpg  buildings
3  3027.jpg    glacier
4  3382.jpg        sea

In [12]:
filenames = labels_densenet['Filename']

In [13]:
def write_submission(filenames, labels, file_name):
    sub = pd.DataFrame({'Filename': filenames, 'Labels': labels})
    sub.to_csv(file_name, index=False)

In [14]:
avg_preds = (preds_res50.values + preds_seresnext50.values + preds_mobilenet.values + preds_densenet.values)/4
avg_preds = np.argmax(avg_preds, axis=1)
labels = []
for pred in avg_preds:
    labels.append(cols[pred])

In [15]:
write_submission(filenames, labels, '../output/Blend_Avg_LB_95.16.csv')
# LB 95.16

# Weighted Average

In [16]:
w_avg_preds = (4*preds_res50.values + 5*preds_seresnext50.values + 2*preds_mobilenet.values + 3*preds_densenet.values)/14
w_avg_preds = np.argmax(w_avg_preds, axis=1)
w_labels = []
for pred in w_avg_preds:
    w_labels.append(cols[pred])

In [17]:
write_submission(filenames, w_labels, '../output/Blend_W_Avg_LB_95.072.csv')
# LB 95.072

# Weighted Average 3

In [18]:
avg_preds = (preds_res50.values*2 + preds_seresnext50.values*3 + preds_densenet.values*2)/7
avg_preds = np.argmax(avg_preds, axis=1)
labels = []
for pred in avg_preds:
    labels.append(cols[pred])

In [19]:
write_submission(filenames, labels, '../output/Blend_W_Try_Avg_LB_95.219.csv')
# LB 95.219

# All 4 Weighted Avg

In [22]:
w_avg_preds = (4*preds_res50.values + 6*preds_seresnext50.values + 3*preds_mobilenet.values + 4*preds_densenet.values)/17
w_avg_preds = np.argmax(w_avg_preds, axis=1)
w_labels = []
for pred in w_avg_preds:
    w_labels.append(cols[pred])

In [23]:
write_submission(filenames, w_labels, '../Blend_W_Avg_LB_95.307.csv')
# LB 95.307